name: Deploy static site to GCS
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - id: 'auth'
      uses: 'google-github-actions/auth@v1'
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    - name: 'Upload index.html'
      uses: 'google-github-actions/upload-cloud-storage@v1'
      with:
        path: 'index.html'
        destination: 'cmtr-n0iczb1u-bucket'
        parent: false
